body {
    background: #FCFCFC;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #4f4f4f;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
    width: 90%
}

@media only screen and (min-width: 601px) {
    .container {
        width:97%
    }
}

@media only screen and (max-width: 600px) {
    .container {
        width:93%
    }
}

h1 {
    font-size: 1.2em;
    color: #000;
}

a {
    text-decoration: none;
    outline: 0;
}

.flex-header {
    padding: 10px 0;
    display: flex;
    align-items: center;

    .header-icon {
        font-size: 1.7em;
    }
}


.page-title {
    flex: 1;
}

.center {
    text-align: center;
}

.blue-text {
    color: $primary-color;
}

.grey-text {
    &.light {
        color: #a09fa3;
    }

    &.medium {
        color: #4f4f4f;
    }
}

.bold-text {
    font-weight: 700;
}

.box-content {
    padding: 15px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.07), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.product-box {
    margin-left: 10px;
}

.product-image {
    max-width: 120px;
}

.product-category {
    color: #a09fa3;
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 10px;
}

.product-name {
    font-weight: 700;
    margin-bottom: 10px;
}

.list-nonstyle {
    list-style: none;

    .list-item {
        padding: 15px 0;
        border-bottom: 1px solid #ccc;

        &:last-child {
            border: 0;
        }
    }
}

.btn {
    border-radius: 4px;
    border: 0;
    outline: 0;
    transition: .2s ease-out;
    margin: 20px 0;
}

.btn-primary {
    background: $primary-color;
    color: #fff;
    font-weight: bold;

    &:hover {
        background: #00b2b5;
    }
}

.btn-secondary {
    background: white;
    border: 1px solid red;
    color: black;
    font-weight: bold;

    &:hover {
        border-color: green;
    }
}

.btn-lg {
    padding: 15px;
    max-width: 100%;
    width: 100%;
}

.img-responsive {
    max-width: 100%;
}

.w-100 {
    width: 100%;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}
